*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    scroll-behavior: smooth;
    width: 100%;
    max-width: 100vw;
}
nav{
    background-color: #081C15;
    width: 100%;
}
#nombre, .nav-link{
    color: #95d5b2;
}
#nombre:hover, .nav-link:hover{
    color: #52b788;
}
#nombre:hover{
    letter-spacing: 0.2rem;
}
.nav-link{
    margin-right: 40px;
}
#nombre{
    margin-left: 40px;
    text-decoration: none;
}

  
.card1-img{
    height: 410px;
}
.what{
    position: fixed;
    z-index:4;
    margin-left: 75%;   
    top:550px;
    
}
.parallax {
    background: url("img/pexels-beyzahzah-15319038.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.sobre{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    background-color: #d8f3dc;
    margin-bottom: 50px;
}
.card1{
    box-shadow: 1px 3px 13px #b1b1b1;
}
.tarjetas{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    letter-spacing: 0.1rem;
    
}
.card-body h5{
    text-align: center;
}
.card-body p{
    text-align: justify;
}
.card-title:hover{
    letter-spacing:0.3rem ;
    color:#52b788
}
.linea{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:30px
    
}
hr{
    border:1px solid #081C15;
    width: 70%;
    
}
.btn-card{
    background-color: #40916c;
    color:#95d5b2;
    font-weight: bold;
    
}
.btn-card:hover{
    color:#1b4332;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color:#081C15;
 
}
.foo{
    gap: 65px;
}
.icon:hover{
    transform: scale(1.5);
    transition: 3s;
}
/*-----------------------SERVICIOS---------------------*/
.servicios h5{
    color:#52b788;
}
.servicios h5:hover{
    color:#1b4332;
}
.servicios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:60px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.servicios .card{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.serv:hover{
    border:none;
    color:white;
    background-color: black;
}
.card-img-top{
    height: 300px;
}



@media (max-width:460px){
    .tarjetas{
        gap:35px;
    }
    .foo{
        gap:20px;   
    }
    .sobre{
        width:90vw;
    }
    .what{
        margin-left: 65%;
    }
    .tarjetas{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .parallax{
        background-image: url(img/pexels-daniela-constantini-5591663.jpg)
    }
}